[Unit]
Description=Send RealSense pose to NetworkTables
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/nt-rs-pose
User=pi
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
